.body {
  margin-top: 250px;
  margin-bottom: 10px;
  height: auto;
  width: 500px;
  padding: 20px;
}

.myH {
	height: 493px; 
}
.taj{
	text-align: justify; /* For Edge */
  -moz-text-align-last: justify; /* For Firefox prior 58.0 */
  text-align-last: justify
}