.body {
  margin: 250px auto;
  margin-bottom: 50px;
  height: auto;
  width: 1200px;
  padding: 20px;
}

.myH {
	height: 493px; 
}
.taj{
	text-align: justify; /* For Edge */
  -moz-text-align-last: justify; /* For Firefox prior 58.0 */
  text-align-last: justify
}