.body {
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 480px;
  padding: 20px;
}

.body .radios {
	list-style: none;
  margin: 0;
  padding: 0;
}

.radios label{
	color: #AAAAAA;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #333;
}
.radios label span{
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 20px 25px 20px 80px;
  margin: 10px auto;
  margin-right: 310px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.radios label input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radios label span:hover {
	color: #222222;
}

.radios label .check{
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear
}

.radios label:hover .check {
  border: 5px solid #222222;
}

.radios label .check::before {
  
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 2px;
	left: 2px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #96CCFF;
}

input[type=radio]:checked ~ .check::before{
  background: #96CCFF;
}

input[type=radio]:checked ~ span{
  color: lightblue;
}

.nameI {
	font-weight: 300;
  font-size: 1.35em;
}