.App {
  text-align: center;
}
.flexCon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mt-250 {
  margin-top: 250px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  z-index: -1;
}